---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
---

<Layout title="Mi Agujita | Costura Creativa">
  <Header />

  <div class="p-10 text-center mt-20">
    <h1 class="font-serif text-5xl text-agujita-primary mb-4">
      La base está lista
    </h1>
    <p class="font-sans text-lg text-agujita-text">
      Probando la integración del Header en el layout principal.
    </p>
  </div>

  <div
    class="h-[2000px] w-full bg-gradient-to-b from-transparent to-agujita-primary/5 mt-10"
  >
  </div>
</Layout>
